*{
	box-sizing: border-box;
}

body{

	background-color: black;
	color: white;
	font-family: Roboto, arial, sans-serif;
}

span{

	color: #cc181e;
	font-weight: 700;
	text-shadow: 2px 2px #881014;
}

header{

	clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 75% /* left bottom */
  	);
	-webkit-clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 75% /* left bottom */
  	);
}

@media (max-width: 560px) {
	header {
		margin-bottom: 15px;
		clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 85% /* left bottom */
  	);
	-webkit-clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 85% /* left bottom */
  	);
	}
}


#banner-head{

	background-color: #323232;
	padding: 25px 0px 50px 30px;
	cursor: pointer;
}

h1{

	font-size: 50px;
}

@media (max-width: 400px) {
	h1 {
		font-size: 40px;
	}
}

#slogan-prompt{

	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
}

#search-form{

	margin-left: 30px;
}

#search-data{
	
	border-style: none;
	outline: none;
	width: 300px;
	height: 30px;
	font-size: 20px;
	border: 2px solid #cc181e;
	background-color: #666666;
	color: white;
	vertical-align: bottom;
	border-radius: 3px;
}

#search-button{

	outline: none;
	width: 100px;
	height: 30.5px;
	color: white;
	background-color: #cc181e;
	border: none; 
	margin-left: 8px;
	font-size: 20px;
	border-radius: 4px;
	border: 2px solid #a31318;
}

@media (max-width: 457px) {
	#search-button {
		margin-top: 15px;
		margin-left:0;
	}
	
}

#search-button:hover{

	border: 2px solid white;
	color: #e5e5e5;
	font-size: 19px;
	cursor: pointer;
}

#output-container{

	min-height: 350px;
	margin: 20px 30px 0px 30px;
}

#output li{

	display: inline-block;
	margin: 0px 10px 10px 0px;
	border: 3px solid #cc181e;
	border-radius: 3px;
	padding: 8px;
}

#output li:hover{

	border: 2px solid #e5e5e5;
	cursor: pointer;
}

footer{

	background-color: #323232;
	font-size: 15px;
	font-weight: 600;
	height: 100px;
	width: 100%;
	padding: 30px 20px 0px 20px;
}

